/*MASTER*/
body
{
	font-family: "Titillium+Web" , sans-serif ;
	margin: 0;
}
p{margin-top:0; padding: 10px;}
h1{margin-top:0;}
h2{margin-top:0;}
Footer
{
    color:#8a8a8a;
    font-size: 0.5em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: 0;
    float: right;

}
input , textarea
{
	width: 100%;
}

a
{
	text-decoration-line: none;
	
	color: red;
}

/*MASTER*/
/*LAYOUT*/
.Container
{	
	width: 95%;
	max-width: 1265px;
	max-height: 1187px;
	/*border: 2px solid black;*/
	margin: 0 auto;
	position: relative;
	top: 50px;
}
/*NAVIGATION*/
.NAV-Wrapper
{
	
	display:flex;
	align-items: center;
	justify-content: center;
	/*border: 3px solid black;*/


	
}
.NAV-Link-Cover
{
	border-bottom: 1px solid transparent;
    border-top: 1px solid black;
	transition: border-top 0.5s;
	flex-grow: 1;
	text-align: center;
}

.NAV-Link-Cover a
{
    color:#8a8a8a;
    text-decoration: none;
	transition: color 0.5s;
	
}

.NAV-Link-Cover:hover
{
	border-top: 5px solid red;
}

.NAV-Link-Cover a:hover
{
	color: black;
}
.Right-Side
{
    display: flex;
    align-items: center;
	justify-content: center;
    width: 100%;
    
}
.NAV-Cover>.Right-Side>div
{
    
    font-size: 0.75em;
    text-transform: uppercase;
    width:100%;
}
.Active-NAV-Link
{
	border-top: 5px solid red;
}

.Active-NAV-Link a
{
	color: red !important; 
}

.Left-Side
{
    float: left;
    margin: 10px;
}

.Left-Side> img
{
    
    width: 100%;
}

/*NAVIGATION*/
/*GALLERY*/
.Gallery-Item-Wrapper
{
	position: relative;
	overflow: hidden;
}
.Gallery-IMG-Background
{
	height: 250px;
	width: 100%;
	background-size: cover;
	background-position: center ;
	background-repeat: no-repeat;
	transition: 1s;

}
.Gallery-IMG-Background:hover
{
	transform: scale(1.3);
}
/*GALLERY*/
/*GRID*/
.Grid-Wrapper
{
	display: grid;
	background-color: red;
	grid-template-columns: repeat(4, 1fr);
}
.Article-Item-Wrapper
{
	position: relative;
}
.Article-IMG-Background
{
	height: 250px;
	width: 100%;
	background-size: cover;
	background-position: center ;
	background-repeat: no-repeat;
}
.Logo-Subtitle
{
	position: absolute;
	top: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
	font-size: .75em;
}
.Logo-Wrapper img
{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -92px;
	height: 75%;	
}

.IMG-Text-Wrapper .Logo-Subtitle ,.IMG-Text-Wrapper .Logo-Wrapper> img
{
	transition: 1s;
	color: transparent;
	opacity: 0;
	
}

.IMG-Text-Wrapper:hover .Logo-Subtitle , .IMG-Text-Wrapper:hover .Logo-Wrapper>img
{
	opacity: 1;
	color: white;
}
.Logo-Subtitle>h1
{
	margin: 0;
	font-size: 1.2em;
}

.IMG-Darken
{
	transition: 1s;
	filter: brightness(10%);
}

@media (max-width: 600px) 
{
  .Grid-Wrapper { grid-template-columns: 1fr }
}
/*GRID*/
/*ARCHIVE*/
.Archive-Grid-Wrapper
{
	display: grid;
	background-color: red;
	grid-template-columns: 1fr;
}
/*ARCHIVE*/
/*HEADER*/
.Header-IMG>img
{
	width: 100%;
	margin: auto;
	display: block;
	border-top: 10px solid red;
}
.Header
{
	/*border: 2px solid black;*/
	max-height:600px ;
	background-color: black;
	position: relative;

}
.Text-Wrapper
{
	color: white;
	/*border: 2px solid grey;*/
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;

}
.Title
{
	/*border: 2px solid red;*/
	top: 0;
	line-height: 0;
}
.Sub-Title
{
	top: 0;
	font-weight: bold;
	/*border: 2px solid white;*/
}
/*HEADER*/
/*COLUMN*/
.Columns
{
	border-top: 10px solid red;
	padding: 10px;
	top: 0;
	columns:4 250px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.Col > p:first-child::first-letter
{

	font-size: 4em;
	padding: .1em;
	float: left;
	line-height: 1rem;
	font-weight: bold;
}
.Art-icle
{
	
	float: right;
	shape-outside:url(https://drive.google.com/uc?export=view&id=1Lwcs2Im4Cs81Un7FbLU2cH-MFSZ0L8xX);
}
/*COLUMN*/
/*CONTACTS*/
.Contact-Wrapper
{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	padding-bottom: 100px;
	border-bottom: 1px solid black;

}
.Contact-Left
{
	font-size: .75em;
	

}
.Contact-Info
{
	
}
.Contact-Right
{
	font-size: .75em;
	width: 50%;
}
.Social-Link
{
	display: flex;
	height: 100%;
	align-items: center;
	border: 1px solid red;
	margin: 10px;

}
.Social-Note
{
	text-align: center;
	vertical-align: middle;
	margin: 10px;
	font-weight: bold;
	
}
.EmailInfo
{
	border-bottom: 2px solid red;
}
/*CONTACTS*/
/*ABOUTME*/
.About-Me-Wrapper
{
	display: flex;
	margin: 20px;
	border-bottom: 1px solid black;
	justify-content: space-between;
}
.About-Me-Left
{
	width: 40%;
	display: flex;
	justify-content: center;
	margin: 20px;
	
}
.About-Me-Right
{
	width: 50%;
}
/*ABOUTME*/
/*LAYOUT*/